@charset "UTF-8";

/* especificidad: 100 */
#CajaReloj {
    float: right;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url(../IMG/Base_reloj.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 30px; /*para ajustar el margen derecho*/
}
/* especificidad: 100 */
#hora {
    position: absolute;
    height: 20px;
    margin-left: 46px;
    margin-top: 30px;
    transform: rotate(0deg);
    transform-origin: bottom;
    /*transition-duration: 1s;*/
}
/* especificidad: 100 */
#minutos {
    position: absolute;
    height: 32.5px;
    margin-left: 47.5px;
    margin-top: 18.5px;
    transform: rotate(0deg);
    transform-origin: bottom;
    /*transition-duration: 1s;*/
}
/* especificidad: 100 */
#segundos {
    position: absolute;
    height: 35px;
    margin-left: 50px;
    margin-top: 16px;
    transform: rotate(0deg);
    transform-origin: bottom;
    /*transition-duration: 1s;*/
}