@charset "utf-8";

body {
    max-width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #F6F6F6;
}

body header {
    text-align: center;
}

header {
    clear: both;
}

header img {
    width: 10%;
    height: 10%;
 
}

main{
    padding-bottom: 5%;
    
}

.botonesPrincipales {
    text-align: center;
   
}

.botonPrincipal{
    text-align: center;
    position: relative;
    width: 50%;
    font-size: 26px;
    background: burlywood; /*color sin pasar el raton de los botones*/
}

.botonPrincipal:hover{
    background: rgba(0,0,0,0);
    color: #000;/*color de las letras interiores al hacer el efecto*/
    box-shadow: inset 0 0 0 3px #1e94cf;/*color del borde sombra*/
}

p{
    font-size: 120%;
    
}

h1{
    font-size: 300%; /*tamaño de la letra*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Sombra FUEGOOOO*/
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34,
     5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
}

h2{
    font-size: 200%;
    text-align: center;
}

h3{
    font-size: 120%;
}

.botonSidra{
    width: 30%;
    height: 30%;
    border: #6b727c solid 2px;
}

.botonSidra:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botonesProductos{
    text-align: center;
}

/*
Estilos del contenidos del pie de pagina de las paginas web.
 */

#copy {
    margin-bottom: 1%;
    padding-top: 5%;
    padding-bottom: 6%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.8em;
    line-height: 1.5em;
}

#copy a {
    color: #1e1e22;
    text-decoration: none;
}

#copy a:hover {
    text-decoration: underline;
}

.contacto_footer {
    float: right;
    /*color: #232427;**/
}

.copy {
    float: left;
}

.mapa_web {
    float: left;
    
}

.mapa_web ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.mapa_web a {
    text-decoration: none;
    color: #000;
    font-size: 90%;
}

.mapa_web a:hover {
    text-decoration: underline;
}

.accesibilidad {
    float: right;
    text-align: right;
    font-size: 100%;
}

.accesibilidad p {
    font-size: 90%;
}

.clear{
    clear: both;
}

footer{
    border-top: 6px double #6b727c;
}



