@charset "utf-8";
 
 /*Titulo, animación */
 /* especificidad: 020 */
 .header .Iam {
    position: relative;
    font: normal 25px/35px "Montserrat", sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-weight: bold;
    text-shadow: 3px 3px 2px #696;/*sombra*/
  }
  /* especificidad: 030 */
  .header .Iam .a {
    height: 20px;
    float: left;
    margin-left: 0em;
    margin-top: 0%;
    text-align: left;
    margin-bottom: 0%;
    margin-right: 0%;
    
  }
 
    /* especificidad: 021 */

    .header .Iam blockquote { /*parte que engloba las letras rojas*/
      width: 82%;/*ajustado para la optimizacion*/
      
      float: right;
    overflow: hidden;
    position: static;
    height: 95px;
    top: 1px;
    right: 0px;
    text-align: left;
    margin-right: 0em;
    margin-bottom: 0%;
    
  }
    /* especificidad: 030 */

    .header .Iam .innerIam {
      
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    right: 0;
    font-size: 150%;
  
  
  /*animacion*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animacion-iteracion-cuenta*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animacion-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
