@charset "utf-8";

body {
    max-width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #F6F6F6;
}

body header {
    text-align: center;
}

header {
    clear: both;
}

header img {
    width: 12%;
    height: 12%;
}

main{
    padding-bottom: 5%;
    
}

.botonesPrincipales {
    text-align: center;
   
}

.botonPrincipal{
    text-align: center;
    position: relative;
    width: 40%;
    font-size: 26px;
    background: rgb(67, 189, 77);
}

.botonPrincipal:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

p{
    font-size: 120%;
    
}

h2{
    font-size: 200%;
}

h3{
    font-size: 130%;
}

.botonSidra{
    width: 30%;
    height: 30%;
    border: #6b727c solid 2px;
}

.botonSidra:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botonesProductos{
    text-align: center;
}

/*
Estilos del contenidos del pie de pagina de las paginas web.
 */

#copy {
    margin-bottom: 1%;
    padding-top: 5%;
    padding-bottom: 6%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.8em;
    line-height: 1.5em;
}

#copy a {
    color: #1e1e22;
    text-decoration: none;
}

#copy a:hover {
    text-decoration: underline;
}

.contacto_footer {
    float: right;
    /*color: #232427;**/
}

.copy {
    float: left;
}

.mapa_web {
    float: left;
}

.mapa_web ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.mapa_web a {
    text-decoration: none;
    color: #000;
    font-size: 90%;
}

.mapa_web a:hover {
    text-decoration: underline;
}

.accesibilidad {
    float: right;
    text-align: right;
    font-size: 100%;
}

.accesibilidad p {
    font-size: 90%;
}

.clear{
    clear: both;
}

footer{
    border-top: 6px double #6b727c;
}



