/* Especificidad 010*/
.footer{
    margin-bottom: 1%;/*espacio, distancia arriba con la linea que separa le body y el footer */
    padding-top: 5%;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding-bottom: 6%;
    padding: 55px 50px;
    line-height: 1em; /*HAS DE MIRAR PARA LO DE LOS ESTABLECIMIENTOS*/
	
}
/* Especificidad 020*/
.footer .footer-izquierda,
.footer .footer-centro,
.footer .footer-derecha{
	display: inline-block;
	vertical-align: top;
}

/* Footer izquierda */
/* Especificidad 020*/
.footer .footer-izquierda{
    width: 35%;
    color: beige;
}

/* The company logo */
/* Especificidad 011*/
.footer h3{
	color:  #ffffff;
	font: normal 26px 'Cookie', cursive;
    margin: 0;
}

/* Especificidad 012*/
.footer span img{
    width:50px;
    height:50px;
    margin: 0;
}

/* Footer menu */
/* Especificidad 020*/
.footer .footer-menu{
	color:  #ffffff;
	margin: 20px 0 12px;
    padding: 0;
    margin-top: 0%;
    

}
/* Especificidad 023*/
.footer .footer-izquierda ul li a {/*en el menu los enlaces*/
    text-decoration:none;
    color:#5383d3;
}
/* Especificidad 020*/
.footer .footer-derechos{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
    margin: 0;
    margin-top: 0%;
}

/* Footer centro */
/* Especificidad 020*/
.footer .footer-centro{
	width: 35%;
}
/* Especificidad 021*/
.footer .footer-centro em{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px;
	vertical-align: middle;
}
/* Especificidad 031*/
.footer .footer-centro em.autor{
	font-size: 27px;
    line-height: 38px;
    display: block;
	color:  #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
	margin: 0%;
}


/* Especificidad 021*/
.footer .footer-centro p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
/* Especificidad 022*/
.footer .footer-centro p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
/* Especificidad 022*/
.footer .footer-centro p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer derecha */
/* Especificidad 020*/
.footer .footer-derecha{
	width: 28%;
}
/* Especificidad 020*/
.footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
/* Especificidad 021*/
.footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
/* Especificidad 020*/
.footer .footer-icons{
	margin-top: 25px;
}
/* Especificidad 021*/
.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* Especificidad 010*/
.footer{
    border-top: 16px double #F6F6F6;
}

/* Diseño responsable, puedo obviarlo */
@media (max-width: 800px) {
/* Especificidad 010*/
	.footer{
		font: bold 14px sans-serif;
	}
/* Especificidad 020*/
	.footer .footer-izquierda,
	.footer .footer-centro,
	.footer .footer-derecha{
		display: block;
		width: 100%;
		margin-bottom: 40px;
        text-align: center;
        
	}
/* Especificidad 021*/
	.footer .footer-centro i{
		margin-left: 0;
	}

}