@charset "utf-8";

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
    list-style: none;
}

nav > ul {
    background: #F3F781;/*color del menu*/
    padding: 0 0;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0 0 0 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid rgb(202, 206, 5);/*el borde de todo el menu*/
    font-size: 20px;
    font: small-caps 100%/200% serif;/*formato de la letra del menu*/
}

nav ul li {
    float: left;
    width: 20%;
    
}

nav ul li:hover {
    background: #F3F781;
}

nav ul li:hover a {
    color: #000;
}

nav ul li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 25px 40px;
    text-decoration: none;
}

nav ul ul {
    background-color: #F3F781;
    padding: 0;
    position: absolute;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #F3F781;
    border-bottom: 1px solid #F3F781;
    position: relative;
    width: 100%;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #000;
}

nav ul ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
}