.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper * {
      margin: 5px;
    }
  
  
  .media {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .media img {
        max-width: 100%;
        height: auto;
      }
  
  
  .layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 90%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;
}
.layer   p {
      transition: all 0.9s ease;
      transform: scale(0.1)
    }
 
  
    .layer p {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
  
  .media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
}
    .media:hover .layer p {
      transform: scale(1);
      transition: all 0.9s ease;
    }
  
  
  
    @media (max-width: 600px) {
        .wrapper {
        display: block;}
        .wrapper * {
          margin: 10px;
        }
    
  }