@charset "utf-8";

#clockDate {
    float: right;    
}

.date {/*al cambiar la especificidad cambiamos el tamaño de la letra OJO ahi*/
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    height: 14px;
}

#clock {
    width: 70px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

#clock > li {
    display: inline;
    font-size: 11px;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.punto {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}