@charset "utf-8";

#clockDate {
    float: right;
    
}

#date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    height: 14px;
}

#clock {
    width: 70px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

#clock > li {
    display: inline;
    font-size: 11px;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.punto {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}