body {
    padding: 20px 80px;
    background: #eee url(../IMG/extra_clean_paper.png);
}
.header {
    padding: 60px;
    text-align: center;
    background: #eee url(../IMG/extra_clean_paper.png);
    color: white;
    font-size: 30px;
  }
  